* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 15px;
  margin: 0;
}

.scroll-400 {
  max-height: 400px;
}

.search {
  display: block;
  margin-bottom: 5px;
}

.el-tabs__header {
  margin: 0 5px 15px 0 !important; 
}

.div#pane-products {
  margin: 5px;
}
.el-header {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.el-date-editor {
  .el-range-separator {
    padding: 0;
  }
}